@import "commounal/_communal.scss";
@charset "utf-8";
*{margin:0;padding:0;box-sizing: border-box;}
body{font-family:"Microsoft YaHei","宋体",sans-serif;font-size:13px;font-weight: normal;}
ul,li{list-style-type:none;margin: 0px;}
body a{color:#787878;text-decoration:none;cursor: pointer;font-size: 14px;}
body a:hover{color:#00af95;}
body a:visited{color:#787878;}
img {border:0;-ms-interpolation-mode: bicubic;vertical-align:middle}
button{cursor: pointer;}
input,button{outline: 0 none;resize:none;}
input,textarea,select,button{outline: none;}
/*隐藏文本框阴影*/
input, textarea{-webkit-appearance: button;}
/*取消点击屏幕时的黑影闪烁*/
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.body{width: 100%;max-width: 980px;min-width: 320px;margin: 0 auto;}
.relative{position: relative;}
.text-center{text-align: center;}
.img100 img{width: 100%;}
.hide{display: none;}
.pointer{cursor: pointer;}
.pull-left{float: left;width: 50%;}
.overHide{overflow: hidden;}

/*加载层*/
$second : 1.6s;
.loading{
  @include css3(perspective,2000px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00af95;
  .anima{
    @include css3(transform-style,preserve-3d);
    @include setWdHgPx(119,100);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .circle{
      @include css3(animation,circlechange $second*4 linear infinite);
      @include css3(transform,rotateY(0deg) translateZ(500px));
      @include setWdHgPx(100,100);
      @include flex;
      @include css3(align-items,center);
      @include css3(justify-content,center);
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 10px;
      background: #fff;
      border-radius: 50%;
      font-size: 20px;
    }
    .circle0{
      @include css3(animation-delay,0.2s);
      z-index: 9;
    }
    .circle1{
      @include css3(animation-delay,$second*1);
      z-index: 8
    }
    .circle2{
      @include css3(animation-delay,$second*2);
      z-index: 7;
    }
    .circle3{
      @include css3(animation-delay,$second*3);
      z-index: 6;
    }
    .circle4{
      @include css3(animation-delay,$second*4);
      z-index: 5;
    }
    .circle5{
      @include css3(animation-delay,$second*5);
      z-index: 4;
    }
    .circle6{
      @include css3(animation-delay,$second*6);
      z-index: 3;
    }
    .circle7{
      @include css3(animation-delay,$second*7);
      z-index: 2;
    }
    .circle8{
      @include css3(animation-delay,$second*8);
      z-index: 1;
    }
  }
}

@include keyframes(circlebig){
  0% {
    @include setWdHgPx(50,50)
  }
  50%{
    @include setWdHgPx(10,10)
  }
  100%{
    @include setWdHgPx(50,50);
  }
}
@include keyframes(circlechange){
  from {
    @include css3(transform,rotateY(0deg) translateZ(500px))
  }
  to{
    @include css3(transform,rotateY(360deg) translateZ(500px))
  }
}


/*简历部分*/
.h3{
  line-height: 50px;
  
}
.ready{
    max-width: 1024px;
    margin: 0 auto;
}
.m-main{
    @include flex;
    @include css3(align-items,center);
    margin-bottom: 20px;
}
.main-tit{
    width: 200px;
}
